In [2]:
# Part 1: Data Analysis & Preprocessing [10 Points]

# Importing necessary libraries
import pandas as pd

# Load dataset - penguins.csv
penguins_df = pd.read_csv('/content/penguins.csv')

# Handling missing values by filling them with the mean for numeric columns
penguins_df['bill_length_mm'].fillna(penguins_df['bill_length_mm'].mean(), inplace=True)
penguins_df['bill_depth_mm'].fillna(penguins_df['bill_depth_mm'].mean(), inplace=True)
penguins_df['flipper_length_mm'].fillna(penguins_df['flipper_length_mm'].mean(), inplace=True)
penguins_df['body_mass_g'].fillna(penguins_df['body_mass_g'].mean(), inplace=True)

# Handling categorical missing values by filling with mode
penguins_df['gender'].fillna(penguins_df['gender'].mode()[0], inplace=True)

# Data transformation: Adding a new column for BMI (Body Mass Index) estimation for penguins
penguins_df['BMI'] = penguins_df['body_mass_g'] / (penguins_df['bill_length_mm'] * penguins_df['bill_depth_mm'])

# Summary statistics after preprocessing
penguins_summary = penguins_df.describe()

# Show the cleaned dataset head and summary
penguins_df.head(), penguins_summary

(  species     island  calorie requirement  average sleep duration  \
 0  Adelie  Torgersen                 6563                      11
 1  Adelie  Torgersen                 4890                      14
 2  Adelie  Torgersen                 7184                      11
 3  Adelie  Torgersen                 4169                       8
 4  Adelie  Torgersen                 4774                       8

    bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g  gender  \
 0       39.100000      18.700000         181.000000       3750.0    male
 1       39.500000      17.400000         186.000000       3800.0  female
 2       40.300000      18.000000         195.000000       3250.0  female
 3       45.494214      18.018318         197.764881        992.0    male
 4       36.700000      19.300000         193.000000       3450.0  female

      year       BMI
 0  2007.0  5.128766
 1  2007.0  5.528881
 2  2007.0  4.480287
 3  2007.0  1.210156
 4  2007.0  4.870749  ,
        calorie requirement  average sleep duration  bill_length_mm  \
 count           344.000000              344.000000      344.000000
 mean           5270.002907               10.447674       45.494214
 std            1067.959116                2.265895       10.704852
 min            3504.000000                7.000000       32.100000
 25%            4403.000000                9.000000       39.600000
 50%            5106.500000               10.000000       45.200000
 75%            6212.750000               12.000000       49.000000
 max            7197.000000               14.000000      124.300000

        bill_depth_mm  flipper_length_mm  body_mass_g         year         BMI
 count     344.000000         344.000000   344.000000   342.000000  344.000000
 mean       18.018318         197.764881  4175.463127  2008.035088    5.523940
 std         9.091991          27.438796   852.431447     0.816938    1.476061
 min        13.100000          10.000000   882.000000  2007.000000    0.543755
 25%        15.700000         190.000000  3550.000000  2007.000000    4.616124
 50%        17.500000         197.000000  4050.000000  2008.000000    5.369944
 75%        18.700000         213.000000  4750.000000  2009.000000    6.731964
 max       127.260000         231.000000  6300.000000  2009.000000    8.896955  )

In [4]:
# Part 2: Data Cleaning & Analysis on Other Datasets [10 Points]

# Load dataset - diamond.csv
diamond_df = pd.read_csv('/content/diamond.csv')

# Dropping unnecessary column 'Unnamed: 0'
diamond_df = diamond_df.drop(columns=['Unnamed: 0'])

# Ensure 'carat', 'depth', and 'table' columns are of type float
diamond_df['carat'] = pd.to_numeric(diamond_df['carat'], errors='coerce')
diamond_df['depth'] = pd.to_numeric(diamond_df['depth'], errors='coerce')
diamond_df['table'] = pd.to_numeric(diamond_df['table'], errors='coerce')

# Handling missing values in numeric columns by using mean
diamond_df['carat'].fillna(diamond_df['carat'].mean(), inplace=True)
diamond_df['depth'].fillna(diamond_df['depth'].mean(), inplace=True)
diamond_df['table'].fillna(diamond_df['table'].mean(), inplace=True)


# Handling categorical missing values by using mode
diamond_df['cut'].fillna(diamond_df['cut'].mode()[0], inplace=True)
diamond_df['color'].fillna(diamond_df['color'].mode()[0], inplace=True)

# Summary statistics after cleaning
diamond_summary = diamond_df.describe()

# Load dataset - breeding_bird_atlas.csv
bird_df = pd.read_csv('/content/breeding_bird_atlas.csv')

# Dropping unnecessary columns
bird_df = bird_df.drop(columns=['Map Link', 'Family Name', 'Family Description', 'Average UB Student GPA'])

# Handling missing values in 'Temperature' by filling with mean
bird_df['Temperature'].fillna(bird_df['Temperature'].mean(), inplace=True)

# Data transformation: Adding a new column to indicate if bird sighting occurred in a Federal Protected Area
bird_df['Protected Area Sighting'] = bird_df['NYS Protection Status'].apply(lambda x: 'Yes' if x == 'Protected' else 'No')

# Summary statistics for bird dataset
bird_summary = bird_df.describe()

# Showing cleaned data head for diamond and bird datasets, along with their summaries
diamond_df.head(), diamond_summary, bird_df.head(), bird_summary

(   carat      cut color clarity  average us salary  \
 0   0.23    Ideal     E     SI2              31282
 1   0.21  Premium     E     SI1              40049
 2   0.23     Good     E     VS1              33517
 3   0.29  Premium     I     VS2              38495
 4   0.31     Good     J     SI2              34178

    number of diamonds mined (millions)  depth  table price     x     y     z
 0                                 5.01   61.5   55.0   326  3.95  3.98  2.43
 1                                 1.69   59.8   61.0   326  3.89  3.84  2.31
 2                                 3.85   56.9   65.0   327  4.05  4.07  2.31
 3                                 3.49   62.4   58.0   334   4.2  4.23  2.63
 4                                 4.70   63.3   58.0   335  4.34  4.35  2.75  ,
               carat  average us salary  number of diamonds mined (millions)  \
 count  53940.000000       53940.000000                         53940.000000
 mean       0.797823       39521.990100                             2.902669
 std        0.460984        5486.892971                             1.325985
 min        0.200000       30000.000000                             0.600000
 25%        0.400000       34780.000000                             1.750000
 50%        0.720000       39547.500000                             2.910000
 75%        1.030000       44252.000000                             4.050000
 max        5.010000       48999.000000                             5.200000

               depth         table
 count  53940.000000  53940.000000
 mean      61.750175     57.456332
 std        1.405655      2.170579
 min       43.000000     43.000000
 25%       61.100000     56.000000
 50%       61.800000     57.000000
 75%       62.500000     59.000000
 max       79.000000     95.000000  ,
    Fed. Region Block ID  County          Common Name        Scientific Name  \
 0          NaN    5773C     NaN                  NaN                     12
 1          8.0    5569B  ALBANY     Alder Flycatcher      Empidonax alnorum
 2          8.0    5773C  ALBANY  American Black Duck          Anas rubripes
 3          8.0    5872A  ALBANY  American Black Duck          Anas rubripes
 4          8.0    5570D  ALBANY        American Crow  Corvus brachyrhynchos

   NYS Protection Status                                  Breeding Behavior  \
 0                    10  singing male present on more than one date in ...
 1             Protected  Nest and eggs, bird on nest or egg, or eggshel...
 2          Game Species  Pair observed in suitable habitat in breeding ...
 3          Game Species  Species seen in possible nesting habitat or si...
 4          Game Species  Singing male present on more than one date in ...

    Month  Day    Year  Temperature Breeding Status Protected Area Sighting
 0    NaN  NaN  1985.0           59        Probable                      No
 1    NaN  NaN  1985.0           78       Confirmed                     Yes
 2    NaN  NaN  1985.0           72        Probable                      No
 3    NaN  NaN  1985.0           52        Possible                      No
 4    NaN  NaN  1985.0           28        Probable                      No  ,
          Fed. Region        Month          Day           Year    Temperature
 count  355787.000000  3426.000000  9338.000000  351102.000000  361582.000000
 mean        5.855652    49.772329    49.511994    1964.180056      49.467487
 std         5.836586    28.659289    28.794700     190.069866      17.322758
 min         0.000000     0.000000     0.000000       0.000000      20.000000
 25%         3.000000    26.000000    25.000000    1982.000000      34.000000
 50%         6.000000    50.000000    49.000000    1983.000000      49.000000
 75%         8.000000    74.000000    75.000000    1984.000000      64.000000
 max        99.000000    99.000000    99.000000    1985.000000      79.000000)

In [5]:
!git clone "https://github.com/SEEMANTULANISCHAL/Classification_Regression_Methods.git"

Cloning into 'Classification_Regression_Methods'...
remote: Enumerating objects: 37, done.
remote: Counting objects: 100% (37/37), done.
remote: Compressing objects: 100% (30/30), done.
remote: Total 37 (delta 4), reused 32 (delta 2), pack-reused 0 (from 0)
Receiving objects: 100% (37/37), 10.23 MiB | 7.17 MiB/s, done.
Resolving deltas: 100% (4/4), done.

In [9]:
!git push

fatal: not a git repository (or any of the parent directories): .git

In [8]:
!cd /content/Classification_Regression_Methods/Data_Analysis_Preprocessing.ipynb

/bin/bash: line 1: cd: /content/Classification_Regression_Methods/Data_Analysis_Preprocessing.ipynb: Not a directory

In [12]:
!git add .

fatal: not a git repository (or any of the parent directories): .git

In [11]:
!cd /content/Classification_Regression_Methods